In [1]:
%matplotlib inline

In [2]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
import gmaps.datasets
# Import the API Key.
from config import g_key

In [3]:
# Store the CSV I saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Georgetown,MY,2021-01-04 02:45:33,5.41,100.34,77.00,88,20,4.70
1,1,New Norfolk,AU,2021-01-04 02:45:33,-42.78,147.06,69.01,53,93,3.00
2,2,Chokurdakh,RU,2021-01-04 02:45:33,70.63,147.92,-27.85,86,79,5.91
3,3,Mataura,NZ,2021-01-04 02:43:03,-46.19,168.86,62.01,71,85,11.01
4,4,Airai,TL,2021-01-04 02:45:33,-8.93,125.41,73.02,83,78,2.17

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure Google Maps to use my Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp],
                                dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temeprature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Georgetown,MY,2021-01-04 02:45:33,5.41,100.34,77.00,88,20,4.70
8,8,Rikitea,PF,2021-01-04 02:45:35,-23.12,-134.97,78.10,80,2,16.98
14,14,Kahului,US,2021-01-04 02:43:06,20.89,-156.47,80.60,54,1,24.16
15,15,Saint-Georges,GD,2021-01-04 02:45:36,12.06,-61.75,75.20,88,40,14.94
24,24,Butaritari,KI,2021-01-04 02:45:39,3.07,172.79,81.91,80,98,19.04
30,30,Cam Ranh,VN,2021-01-04 02:45:41,11.92,109.16,75.20,94,75,14.99
33,33,Avarua,CK,2021-01-04 02:45:42,-21.21,-159.78,84.20,70,37,17.22
34,34,Kapaa,US,2021-01-04 02:43:00,22.08,-159.32,78.80,65,90,13.87
43,43,Chirongui,YT,2021-01-04 02:45:45,-12.93,45.15,78.80,88,75,10.29
57,57,Bengkulu,ID,2021-01-04 02:45:48,-3.80,102.27,83.16,60,37,4.92

In [12]:
preferred_cities_df.count()

City_ID       129
City          129
Country       129
Date          129
Lat           129
Lng           129
Max Temp      129
Humidity      129
Cloudiness    129
Wind Speed    129
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
0      Georgetown      MY     77.00   5.41  100.34
8         Rikitea      PF     78.10 -23.12 -134.97
14        Kahului      US     80.60  20.89 -156.47
15  Saint-Georges      GD     75.20  12.06  -61.75
24     Butaritari      KI     81.91   3.07  172.79
30       Cam Ranh      VN     75.20  11.92  109.16
33         Avarua      CK     84.20 -21.21 -159.78
34          Kapaa      US     78.80  22.08 -159.32
43      Chirongui      YT     78.80 -12.93   45.15
57       Bengkulu      ID     83.16  -3.80  102.27

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Georgetown,MY,77.00,5.41,100.34,Cititel Penang
8,Rikitea,PF,78.10,-23.12,-134.97,Pension Maro'i
14,Kahului,US,80.60,20.89,-156.47,Maui Seaside Hotel
15,Saint-Georges,GD,75.20,12.06,-61.75,Siesta Hotel
24,Butaritari,KI,81.91,3.07,172.79,Isles Sunset Lodge
30,Cam Ranh,VN,75.20,11.92,109.16,OYO 598 Peony Hotel
33,Avarua,CK,84.20,-21.21,-159.78,Paradise Inn
34,Kapaa,US,78.80,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
43,Chirongui,YT,78.80,-12.93,45.15,La Villa Mahatsara
57,Bengkulu,ID,83.16,-3.80,102.27,Grage Hotel Bengkulu

In [16]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}ËšF</dd>
</dl>
"""

In [18]:
# Store the DataFrame row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))